# Naive Bayes Theorem
P(head) = 1/2
P(queen) = 4/52 = 1/13

Conditional Probability

P(A/B) = Probability of event A knowing that event B has already occured.
Ex - P(queen/diamond) = 1/13     # Probability of a random card of being a queen when it is from diamond.

P(A/B) = P(B/A)*P(A) / P(B)
Ex - P(queen/diamond) = P(diamond/queen)*P(queen) / P(diamond)
where, P(diamond/queen)=1/4 , P(queen)=4/52=1/13 , P(diamond)=13/52=1/4
So,  P(queen/diamond) = (1/4)*(1/13) / 1/4 = 1/4

Use Case : Email detection, Handwritten characters recognition, Weather Prediction, Face Detection, News Articles Categorization

In [1]:
# Importing libraries
import pandas as pd
data = pd.read_excel(r"C:\Users\91999\Desktop\GREWAL\DATA SCIENCE\Model Algorithms\9. Naive Bayes Theorem\Titanic.xlsx")
# We make a naive assumption that the features that we will use are independent of each other
data.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [2]:
# Dropping the unncessary variables
data.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
data.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [3]:
# Defining independent and dependent variables, x and y
x_inputs = data.drop('Survived',axis='columns')
y_target = data.Survived

In [4]:
# Creating the dummies columns for Sex column
dummies = pd.get_dummies(x_inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [5]:
# Concatinating the dummies column into x_inputs
x_inputs = pd.concat([x_inputs, dummies], axis='columns')
x_inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [6]:
# Dropping the Sex column and one dummy variable column
x_inputs.drop(['Sex','male'],axis='columns',inplace=True)
x_inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [7]:
# Detecting if any column contains null value
x_inputs.columns[x_inputs.isna().any()]

# Age column contains null values

Index(['Age'], dtype='object')

In [8]:
# Filling the null values with the mean
x_inputs.Age = x_inputs.Age.fillna(x_inputs.Age.mean())
x_inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [9]:
# Dividing the whole dataset into Training & Testing datasets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_inputs,y_target,test_size=0.2)

In [10]:
print(x_train.shape)
print(len(y_train))
print(x_test.shape)
print(len(y_test))

(712, 4)
712
(179, 4)
179

In [11]:
# Importing and Training Gaussian Naive Bayes (for normal data distribution)
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.7430167597765364

In [12]:
y_test[:10]   # Actual values

870    0
265    0
134    0
194    1
413    0
21     1
315    1
136    1
57     0
101    0
Name: Survived, dtype: int64

In [13]:
model.predict(x_test[:10])          # Predicted values

array([0, 0, 0, 1, 0, 0, 1, 1, 0, 0], dtype=int64)

In [14]:
model.predict_proba(x_test[:10])    # Checking the probability of person survived or not

array([[0.9693283 , 0.0306717 ],
       [0.93972552, 0.06027448],
       [0.93270552, 0.06729448],
       [0.08058059, 0.91941941],
       [0.93023502, 0.06976498],
       [0.93927969, 0.06072031],
       [0.41569989, 0.58430011],
       [0.06381542, 0.93618458],
       [0.97021235, 0.02978765],
       [0.97077604, 0.02922396]])

In [15]:
# Calculating the scores using Cross Validation

from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(), x_train, y_train, cv=5)

array([0.78321678, 0.7972028 , 0.78321678, 0.78169014, 0.78723404])