Decision Tree - To solve classification problems
For complex datasets, which Logistics Regression can't solve
We have large number of features to split. The splitting order of these features impact the performance of the model
We should split such that we get the high information gain & low entropy
Low Entropy – High Information Gain ; High Entropy – Low information gain

In [1]:
# Importing Necessary Libraries
import pandas as pd

In [2]:
# Importing Dataset
data = pd.read_excel(r"C:\Users\91999\Desktop\GREWAL\DATA SCIENCE\Model Algorithms\4. Decision Tree\Salaries.xlsx")

In [3]:
data.head()

  Company                  Job     Degree  Salary_more_than_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
# Divide the dataset into x any y
x = data.drop('Salary_more_than_100k', axis=1)
y = data['Salary_more_than_100k']                            # It will create y as a Series
# y = data.drop(['Company','Job','Degree'], axis=1)          # It will create y as a DataFrame

----

In [5]:
# To manage the Categorical columns, we use the encoding technique

from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()                   # Creating a Label Encoder object for Company column
le_job = LabelEncoder()                       # Creating a Label Encoder object for Job column
le_degree = LabelEncoder()                    # Creating a Label Encoder object for Degree column

In [6]:
# Creating a new encoded numeric column from the Categorical column Company.
x['Company_n'] = le_company.fit_transform(x['Company'])       
# Creating a new encoded numeric column from the Categorical column Job.
x['Job_n'] = le_job.fit_transform(x['Job'])                   
# Creating a new encoded numeric column from the Categorical column Degree.
x['Degree_n'] = le_degree.fit_transform(x['Degree'])

In [7]:
x.head()

  Company                  Job     Degree  Company_n  Job_n  Degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [8]:
# Creating a new Daatframe with only encoded numeric columns
x_n = x.drop(['Company','Job','Degree'], axis=1)
x_n.head()

   Company_n  Job_n  Degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

----

In [9]:
# Split the whole Data into Training & Testing sets
from sklearn.model_selection import train_test_split
x_train , x_test, y_train, y_test = train_test_split(x_n,y,test_size=0.2,random_state=0)

In [10]:
# Shape of the Training & Testing sets
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(12, 3)
(12,)
(4, 3)
(4,)

In [11]:
# Training the model
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()                 # Creating a Decision tree object
model.fit(x_train, y_train)                      # Fitting the training dataset

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [12]:
# To check the score of the model
model.score(x_n,y)

0.875

In [13]:
# Making Prediction ( for Test set result )
model.predict(x_test) # These are the predicted results (means y_predict) against x_test.

array([1, 0, 0, 0], dtype=int64)

In [14]:
y_test               # These are the actual values against x_test.

1    0
6    0
8    0
9    1
Name: Salary_more_than_100k, dtype: int64

In [15]:
# Making Prediction 1 - salary of Google, Computer Programmer, Bachelors
# Company : 0-ABC Pharma , 1-Facebook , 2-Google
# Job : 0-Business Manager , 1-Computer Programmer , 2-Sales Executive
# Degree : 0-Bachelors , 1-Masters
model.predict([[2,1,0]])                # We have to put X in the form of 2-D array

array([0], dtype=int64)

In [16]:
# Making Prediction 1 - salary of Google, Computer Programmer, Masters
model.predict([[2,1,1]])                # We have to put X in the form of 2-D array

array([1], dtype=int64)